@font-face {
    font-family: yekan;
    src: url('../fonts/yekan-bakh-regular.ttf')  format('truetype');
}
body {
    font-family: yekan !important;
    color: #363438;
}
h1,h2,h3,h4,h5,h6,p,span,label {
    font-family: yekan !important;
}

.user-semi-title {
    font-size: 1.2rem;
}
span,div,.form-label {
    font-size: 1.2rem;
}
.slide-item {
    font-size: 1rem;
}

.app-sidebar span,div,.form-label {
  font-size: 1rem;
}

.breadcrumb-item1 a {
    font-size: 0.8rem;
}
.tooltip-inner {
    font-size: 1rem;
}

.color-menu .app-sidebar {
    background: #363438 !important;
}

.color-menu .app-sidebar .side-menu .slide a.active, .color-menu .app-sidebar .side-menu .slide a:hover {
    color: #fff !important;
    background: #1f8bcb !important;
}
.color-menu .app-sidebar .side-menu .slide.is-expanded a.slide-item.active , .color-menu .app-sidebar .side-menu .sub-slide a:hover ,.color-menu .app-sidebar .side-menu .slide.is-expanded a.slide-item:hover {
    color: #1f8bcb !important;
    background: 0 0 !important;
}
.side-menu__item {
    margin: 5px 0;
}
.app-sidebar__user .user-pic .avatar-xxl {
    border: 3px solid #2c4669;
}

.avatar {
    border-radius: 50%;
}

.side-menu {
    padding: 10px;
}

.color-menu .app-sidebar .side-menu__item.active::before {
    border-left: unset;
}
.color-menu .app-sidebar .app-sidebar__user .app-sidebar__user-name.text-muted {
    color: #9ba5ca !important;
}
.side-menu__item {
    padding: 12px 15px 12px 15px;
}
.color-menu .app-sidebar .Annoucement_card {
    background: #1c2f48;
}
.calendar-icon {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    transition: .1s ease;
    position: relative;
    top: -31.5px;
}
.calendar-icon:hover {
    opacity: .6;
}
.tags-input {
    border: 1px solid #d3dfea;
    padding: 5px;
    border-radius: 5px;
}
.news-btn {
    position: absolute;
    top: 120px;
    left: 24px;
    font-size: 1rem;
}
.header-brand-img {
    position: relative;
    bottom: 20px;

    font-size: 60px; 
    color: #333333;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.sortable {
    cursor: grab;
    padding-right: 60px;
}
.sortable:hover {
    background: #e6e6e6;
}
.sortable:active {
    cursor: grabbing;
}
.sortable-actions {
    width: 85px;
    margin-right: auto;
    margin-top: -23px;
}
.sortable-icons {
    display: inline-block;
}
.sortable-status {
    margin: auto;
    display: grid;
    width: 50px;
    margin-top: -23px;
}
.sortable-grib {
    display: revert;
    color: #0000004d;
    font-size: 1.5rem;
    margin: -57px;
    position: absolute;
    top: 72px;
}

.item_title {
    width: 40%;
    display: inline-block;
}

.menu-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px; /* spacing between cards */
}

.menu-group-actions {
    display: flex;
    align-items: center;
}

.breadcrumb-item1 a {
    color: #46c8bc;
}
.breadcrumb-item1:hover a {
    color: #1f8bcb;
}

.spin-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.spinner {
    background: #46c8bc;
}

.card .card-header .card-title:before {
    background: #1f8bcb;
}

.bg-primary {
    background: #1f8bcb !important;
}

.img-cover {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.app-sidebar .app-sidebar3 {
    margin-top: 100px;
    height: 82%;
}
.app-sidebar {
    border-radius: 20px;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 33%;
    }
}

.form-group.required .form-label:after { 
    content:"*";
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-controls-stacked {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.custom-controls-stacked .custom-control {
    padding: 10px 20px;
    cursor: pointer;
}
.select-all {
    width: 150px;
    margin: auto;
    padding: 10px 30px;
    cursor: pointer;
}

.footer-texts {
    font-size: 1rem;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin: 20px 0;
    outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #46c8bc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}​
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #46c8bc;
}
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}

#discount_label {
    position: relative;
    bottom: 0px; right: 0px;
    text-align: center;
    font-weight: bold;
}

.role-table .dataTables_wrapper .row {
    justify-content: space-between;
}

.role-table .dataTables_wrapper .row * {
    font-size: unset;
}

.feather-chevrons-up {
    margin-top: 13px;
}




.custom-loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
  }
  .custom-loader::before {
    content: '';  
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -24px;
    animation: animloader 4s ease infinite;
  }
  .custom-loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    animation: animloader2 2s ease infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }
    12% {
      box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }
    25% {
      box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }
    37% {
      box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
    }
    62% {
      box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white, 0px 48px white;
    }
    75% {
      box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px white, 0px 48px white;
    }
    87% {
      box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px white;
    }
    100% {
      box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes animloader2 {
    0% {
      transform: translate(0, 0) rotateX(0) rotateY(0);
    }
    25% {
      transform: translate(100%, 0) rotateX(0) rotateY(180deg);
    }
    50% {
      transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
    }
    75% {
      transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
    }
    100% {
      transform: translate(0, 0) rotateX(0) rotateY(360deg);
    }
  }
      
.properties-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 5px;
}

.select-all-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 18px 15px;
}

  .checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
  }

  @-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  .checkbox-wrapper-19 input[type=checkbox] {
    display: none;
  }

  .checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .checkbox-wrapper-19 .check-box::before,
  .checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  .checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
  .checkbox-wrapper-19 .check-box.checked {
    border-color: #34b93d;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
  .checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
  .checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }